@import '../../../../styles/config';

.inputRow {
  margin: 1em 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: var(--sd-fontWeightMedium);
  span {
    flex: 1;
  }
}

.inputRow + .inputRow {
  margin-top: 2em;
}

.schedulerTitle {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.scheduler {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  > * {
    margin-right: 2em;
  }
}

.divider {
  border-top: 0;
  border-bottom: solid 1px var(--sd-borderColor);
  width: calc(100% + 3em);
  margin-left: -1.5em;
}

.events {
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: -1em;
  }
}

.availability {
  .dropdown {
    max-width: 60%;
  }
}

.schedule {
  padding-top: 1em;
}

.tabsContainer {
  height: 52px;
  width: calc(100% + 3em);
  margin-left: -1.5em;
  margin-top: -1em;
}

.job {
  display: flex;

  > * {
    margin-right: 2em;
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      right: -1em;
      transform: translateY(-50%);
      display: block;
      content: '';
      width: 5px;
      height: 5px;
      background: var(--sd-primary);
      border-radius: 50%;
    }

    &:last-child:after {
      display: none;
    }
  }
}
