.inputRow {
  margin: 1em 0;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  span {
    flex: 1;
  }
}

.inputRow + .inputRow {
  margin-top: 2em;
}

.scheduler {
  
  .day {
    opacity: 0.7;

    &.active {
      opacity: 1;
    }
  }
}
