@import '../../../../styles/config';

.inputRow {
  margin: 1em 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: var(--sd-fontWeightMedium);
  span {
    flex: 1;
  }
}

.inputRow + .inputRow {
  margin-top: 2em;
}

.scheduler {
  margin: 2em 0 2em 0;
}

.divider {
  border-top: 0;
  border-bottom: solid 1px var(--sd-borderColor);
  width: calc(100% + 3em);
  margin-left: -1.5em;
}

.events {
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: -1em;
  }
}
