@import '../../../styles/config.css';

.svg {
  display: inline-block;

  :global {
    .cls-1,
    .cls-2 {
      fill: var(--sd-gray);
    }

    .cls-1 {
      opacity: 0.381;
    }
  }

  &.purple {
    :global {
      .cls-1,
      .cls-2 {
        fill: var(--sd-lightPurple);
      }

      .cls-1 {
        opacity: 0.38;
      }
    }
  }
}
