@import '../../../../../styles/config';

.root {
  h4 {
    font-size: 14px;
    font-weight: var(--sd-fontWeightMedium);
    line-height: 1.21;
    color: var(--sd-blackTxt);
    margin: 3em 0 2.5em 0;
  }
}

.inputRow {
  display: flex;
  margin: 2em 0;

  span {
    margin-right: 4em;
  }
}

.exceptionRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;

  > div:first-child {
    margin-right: 20px;
  }

  > span {
    color: var(--sd-grayLighter);
    font-size: 28px;
    margin: 0 0.1em;
  }
}
