@import '../../styles/config.css';
@import '../../styles/reset.css';

:root {
  --sd-headerHeight: 80px;
  --sd-backgroundColor: var(--sd-blueGray);
  --sd-containerWidth: 1024px;
}

html {
  background-color: var(--sd-backgroundColor);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .appHeaderInner {
    background-color: var(--sd-white);
    box-shadow: 2px 2px 2px var(--sd-shadowColor);
    height: var(--sd-headerHeight);
    padding: 1em;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (--sd-tablet) {
        flex: 1;
        display: block;
      }
    }

    .nav {
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;

      @media (--sd-tablet) {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .navItem {
        margin: 0;
        padding: 0;

        .navItemLink {
          position: relative;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.21;
          color: var(--sd-grayLighter);
          text-decoration: none;

          &.active {
            font-weight: 600;
            color: var(--sd-blackTxt);

            &:after {
              content: '';
              display: block;
              position: absolute;
              bottom: -12px;
              left: 50%;
              transform: translateX(-50%);
              width: 20px;
              height: 4px;
              border-radius: 2px;
              background-color: var(--sd-primary);
            }
          }
        }

        @media (--sd-tablet) {
          margin-left: 2em;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      .navItemLink {
        span {
          display: flex;
          align-items: center;
        }
      }
    }

    .user {
      flex: 1;
      display: flex;
      align-items: flex-end;
    }

    .menuTrigger {
      @media (--sd-tablet) {
        display: none;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 25px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 100%;
    background: linear-gradient(
      to bottom,
      var(--sd-backgroundColor),
      rgba(255, 255, 255, 0)
    );
  }
}

.appContent {
  margin-top: var(--sd-headerHeight);
  padding-top: 2em;
}

.pageContent {
  width: 100%;
  max-width: var(--sd-containerWidth);
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 4em;

  &.columns {
    @media (--sd-tablet) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .column {
      flex: 0 1 475px;

      > * {
        margin-top: 3em;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
