@import '../../styles/config.css';
@import '../../styles/reset.css';

:root {
  --sd-headerHeight: 61px;
  --sd-backgroundColor: var(--sd-blueGray);
  --sd-containerWidth: 1024px;
  --sd-pagePaddingBottom: 4em;
  --sd-pagePaddingTop: 50px;
}

body {
  min-height: 100vh;
}

:global(#app) {
  min-height: 100vh;
}

html,
.html-app {
  background-color: var(--sd-backgroundColor);
  font-family: var(--sd-fontName);
  font-weight: var(--sd-fontWeightNormal);
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--sd-fontWeightMedium);
}

.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .contact {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @media (--sd-mobile) {
      display: none;
    }
  }

  .appHeaderInner {
    background-color: var(--sd-white);
    box-shadow: 2px 2px 2px var(--sd-shadowColor);
    height: var(--sd-headerHeight);
    padding: 1em 1.5em;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (--sd-mobile) {
      padding: 1em;
    }

    .logo {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (--sd-tablet) {
        flex: 1;
        display: block;
      }

      @media (--sd-mobile) {
        justify-content: flex-start;
      }
    }
  }

  /* &::after {
    content: '';
    display: block;
    width: 100%;
    height: 25px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 100%;
    background: linear-gradient(
      to bottom,
      var(--sd-backgroundColor),
      rgba(255, 255, 255, 0)
    );
  } */
}

.appContent {
  margin-top: var(--sd-headerHeight);
}

.pageContent {
  width: 100%;
  max-width: var(--sd-containerWidth);
  margin: 0 auto;
  padding-top: var(--sd-pagePaddingTop);
  padding-bottom: var(--sd-pagePaddingBottom);

  &.columns {
    padding-right: 1em;
    padding-left: 1em;
    @media (--sd-desktop) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;
    }

    .columnA {
      flex: 0 1 515px;

      > * {
        margin-top: 50px;

        &:first-child {
          margin-top: 0;
        }
      }

      & + .column {
        margin-top: 50px;
        @media (--sd-desktop) {
          margin-top: 0;
        }
      }
    }

    .columnB {
      flex: 0 1 464px;

      > * {
        margin-top: 50px;

        &:first-child {
          margin-top: 0;
        }
      }

      & + .column {
        margin-top: 50px;
        @media (--sd-desktop) {
          margin-top: 0;
        }
      }
    }
  }
}
