.root {
  position: relative;
  display: flex;
  flex: 1;
}

.input {
  flex: 1;
  height: 48px;
  padding: 20px 16px 9px 16px;
  font-size: 15px;
  color: var(--sd-blackTxt);
  border-radius: 3px;
}

.label {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--sd-gray);
}

.outlined {
  outline: none;
  border: 1px solid var(--sd-grayLighter);
  &:focus {
    border: 1px solid var(--sd-primary);
  }
}

.invalid {
  input {
    border: solid 1px var(--sd-red);
  }

  label {
    color: var(--sd-red);
  }
}

.valid {
  input {
    border: solid 1px var(--sd-green);
  }
}
