@import '../../../../styles/config';

.active {
  font-weight: 700;
  border-radius: 50px;
  
  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--sd-red);
    margin: -2px auto auto auto;
  }
}

.muted {
  color: rgba(0, 0, 0, 0.3);
}

.between {
  border-radius: 0;
}

.start, .between, .end {
  background-color: var(--sd-grayLight);
  color: #fff;
}

.start {
  border-radius: 50px 0 0 50px;
}

.end {
  border-radius: 0 50px 50px 0;
}

.start.end {
  border-radius: 50px;
}

.between:nth-child(7n):after, .start:nth-child(7n):after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background-color: var(--sd-grayLight);
  width: 20px;
}

.between:nth-child(7n + 1):after, .end:nth-child(7n + 1):after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  background-color: var(--sd-grayLight);
  width: 20px;
}

.between.primary:nth-child(7n):after, .start.primary:nth-child(7n):after {
  background-color: var(--sd-primary);
}

.between.primary:nth-child(7n + 1):after, .end.primary:nth-child(7n + 1):after {
  background-color: var(--sd-primary);
}

.start.end:after {
  display: none;
}

.primary {
  background-color: var(--sd-primary);
}
