@import '../../../../styles/config';

.muted {
  color: rgba(0, 0, 0, 0.3);
}

.between {
  border-radius: 0;
}

.start,
.between,
.end {
  background-color: var(--sd-primary);
  color: #fff;
}

.start {
  border-color: red;
  border-width: 10px;
  border-radius: 50px 0 0 50px;
}

.end {
  border-radius: 0 50px 50px 0;
}

.start.end {
  border-radius: 50px;
}

.between:nth-child(7n):after,
.start:nth-child(7n):after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background-color: var(--sd-primary);
  width: 20px;
}

.between:nth-child(7n + 1):after,
.end:nth-child(7n + 1):after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  background-color: var(--sd-primary);
  width: 20px;
}

.between.blackout:nth-child(7n):after,
.start.blackout:nth-child(7n):after {
  background-color: var(--sd-grayLighter);
}

.between.blackout:nth-child(7n + 1):after,
.end.blackout:nth-child(7n + 1):after {
  background-color: var(--sd-grayLighter);
}

.start.end:after {
  display: none;
}

.blackout {
  background-color: var(--sd-grayLighter);
}

.active {
  position: relative;
  font-weight: var(--sd-fontWeightBold);

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: var(--sd-red);
  }
}

.start.active,
.between.active,
.end.active {
  &:before {
    background: white;
  }
}
