@import '../../../../styles/config.css';

.gettingStarted {
  text-align: center;
  padding: 20px 0;

  .svgScene {
    padding: 20px 0;
  }

  .group {
    display: inline-block;
    max-width: 100px;
    margin: 0 0.5em;
  }

  .chair {
    max-width: 250px;
  }

  .man2,
  .woman3,
  .groupPlant {
    display: none;
  }

  @media (--sd-tablet) {
    .man2,
    .woman3,
    .groupPlant {
      display: inline-block;
    }

    .group {
      margin: 0 1em;
    }
  }

  &Split {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 0;

    .left,
    .right {
      height: 394px;
      width: 439px;
      margin-top: -10em;
      background: white;
      border: 1px solid var(--sd-borderColor);
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 var(--sd-shadowColor);
      padding: 3em 1em 1em 1em;
    }

    @media (--sd-preBreakTablet) {
      grid-template-columns: 1fr;
      grid-template-rows: 394px 394px;
      align-content: center;
      justify-items: center;
      margin-top: 3em;
    }

    @media (--sd-mobile) {
      box-shadow: none;
    }
  }
}

.letsGetStartedButton {
  margin-top: 3.5em;
  position: relative;
  width: 310px;
  height: 40px;
  margin-bottom: 1em;

  @media (--sd-preBreakTablet) {
    margin-top: 3em;
  }

  span {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
}
