@import '../../../../styles/config.css';

.gettingStarted {
  text-align: center;
  padding: 20px 0;

  .svgScene {
    padding: 20px 0;
  }

  .group {
    display: inline-block;
    max-width: 100px;
    margin: 0 0.5em;
  }

  .chair {
    max-width: 250px;
  }

  .man2,
  .woman3,
  .groupPlant {
    display: none;
  }

  @media (--sd-tablet) {
    .man2,
    .woman3,
    .groupPlant {
      display: inline-block;
    }

    .group {
      margin: 0 1em;
    }
  }

  &Split {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 0;

    .woman3 {
      display: inline-block;
    }

    .left,
    .right {
      height: 540px;
      width: 439px;
      background: white;
      border: 1px solid var(--sd-borderColor);
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 var(--sd-shadowColor);
      padding: 1.28em 1em 1em;
      overflow-x: hidden;
      white-space: nowrap;

      .people {
        margin-top: 1.8em;
      }

      .chair {
        margin-right: -80px;
      }

      @media (--sd-mobile) {
        box-shadow: none;
        border: none;
        width: 100vw;
        border-radius: 0;
        background: transparent;
        margin-top: 15em;
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        .chair {
          margin-right: -40px;
        }
      }
    }

    .left {
      @media (--sd-mobile) {
        border-bottom: solid 1px rgb(187, 193, 209, 0.5);
        margin-bottom: 15em;
      }
    }

    @media (--sd-preBreakTablet) {
      grid-template-columns: 1fr;
      grid-template-rows: 550px 550px;
      align-content: center;
      justify-items: center;
      margin-top: 3em;
      margin-bottom: 5em;
    }

    @media (--sd-mobile) {
      grid-template-rows: 394px 394px;
    }
  }
}

.letsGetStartedButton {
  margin-top: 3.5em;
  position: relative;
  width: 310px;
  height: 40px;
  margin-bottom: 1em;

  @media (--sd-preBreakTablet) {
    margin-top: 3em;
  }

  span {
    position: absolute;
    top: 49%;
    right: 5px;
    transform: translateY(-50%);
  }

  svg {
    width: 23px;
  }
}
