{
  "settings": {
    "import/resolver": "webpack"
  },
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y", "jest", "import", "prettier", "eslint-plugin-cypress"],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true,
    "cypress/globals": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 90,
        "semi": false
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/state-in-constructor": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "react/static-property-placement": "off",
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "every": ["id"]
        }
      }
    ],
    "arrow-body-style": "off",
    "default-case": "off",
    "func-names": "off",
    "max-len": [
      "error",
      100,
      2,
      {
        "ignoreTrailingComments": true,
        "ignoreTemplateLiterals": true,
        "ignoreStrings": true
      }
    ],
    "prefer-arrow-callback": "off",
    "yoda": "off",
    "no-use-before-define": "off",
    "no-nested-ternary": "off",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-void": "off",
    "no-multi-assign": "off",
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-indent": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/no-unused-prop-types": "off",
    "react/no-unused-state": "off",
    "react/no-danger": "off",
    "react/no-multi-comp": [
      "error",
      {
        "ignoreStateless": true
      }
    ],
    "react/destructuring-assignment": 0,
    "import/extensions": ["error", "never"],
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/no-named-as-default": "off",
    "import/no-absolute-path": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"],
        "aspecs": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/no-static-element-interactions": [
      "error",
      {
        "handlers": [
          "onCLick",
          "onMouseDown",
          "onMouseUp",
          "onKeyPress",
          "onKeyDown",
          "onKeyUp"
        ]
      }
    ]
  }
}
