@import '../../styles/config.css';
:root {
  --font-offset: 3px;
}

.button {
  border-radius: 1.5em;
  padding: var(--font-offset) 2em 0 2em;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;

  &.round {
    border-radius: 3em;
  }

  &.short {
    line-height: calc(32px - var(--font-offset));
  }
}

.primary {
  background: var(--sd-primary);
  color: white;

  &:hover {
    background: var(--sd-blueDark);
  }
}

.secondary {
  background: var(--sd-gray);
  color: white;

  &:hover {
    background: var(--sd-grayDark);
  }
}

.large {
  line-height: calc(48px - var(--font-offset));
}

.medium {
  line-height: calc(40px - var(--font-offset));
}

.mediumSmall {
  line-height: calc(32px - var(--font-offset));
}

.small {
  line-height: calc(30px - var(--font-offset));
}

.disabled {
  background: var(--sd-gray);
  cursor: not-allowed;

  &:hover {
    background: var(--sd-gray);
  }
}
