@import '../../styles/config.css';

.button {
  border-radius: 1.5em;
  padding: 0 2em;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: var(--sd-fontWeightMedium);

  &.round {
    border-radius: 3em;
  }

  &.short {
    line-height: 32px;
  }
}

.primary {
  background: var(--sd-primary);
  color: white;

  &:hover {
    background: var(--sd-blueDark);
  }
}

.secondary {
  background: var(--sd-gray);
  color: white;

  &:hover {
    background: var(--sd-grayDark);
  }
}

.red {
  background: var(--sd-red);
  color: white;

  &:hover {
    background: var(--sd-redDark);
  }
}

.secondaryDark {
  color: black;
}

.large {
  line-height: 48px;
}

.medium {
  line-height: 40px;
  padding: 0 2.4em;
}

.mediumSmall {
  line-height: 32px;
}

.small {
  line-height: 30px;
}

.width {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.disabled {
  background: var(--sd-gray);
  cursor: not-allowed;

  &:hover {
    background: var(--sd-gray);
  }
}
