@import '../../../styles/config.css';

.svg {
  :global .cls-1 {
    font-size: 16px;
    font-family: 'Helvetica Neue';
    font-weight: 500;
  }
  :global .cls-1,
  :global .cls-2 {
    fill: var(--sd-primary);
  }
  svg {
    vertical-align: middle;
    width: 20px;
  }
}
