@import '../../../styles/config.css';

.svg {
  vertical-align: middle;
  width: 20px;
  .text {
    font-size: 16px;
    font-family: 'Helvetica Neue';
    font-weight: 500;
  }
  .fill {
    fill: var(--sd-primary);
  }
}
