@import '../../styles/config.css';

:global(.html-landing) {
  @media (--sd-mobile) {
    background-color: var(--sd-white);
  }
}

:root {
  --landingMaxWidth: 800px;
}

.header {
  position: absolute;
  top: 2em;
  right: 2em;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 0 1em 6em 1em;
  margin: 2em;
  max-width: var(--landingMaxWidth);
  width: 100%;
  border-radius: 8px;
  background-color: var(--sd-white);
  box-shadow: 0 3px 6px 0 var(--sd-shadowColor);
  height: 540px;

  .starTitle > h2 {
    padding: 0.25em 3em;
  }

  @media (--sd-preBreakTablet) {
    height: auto;
    padding-bottom: 2em;
    position: initial;
    padding: 0;

    .starTitle > h2 {
      padding: 1em;
    }
  }

  .svgScene {
    padding: 20px 0;
  }

  .group {
    display: inline-block;
    max-width: 100px;
    margin: 0 0.5em;

    @media (--sd-preBreakTablet) {
      margin: 0 1em;
    }
  }

  .groupPlant {
    > div {
      margin: 0.5em;
      text-align: center;
      &:first-child {
        margin: 0 0.5em 1em 0.5em;
      }
    }
  }

  .chair {
    max-width: 250px;
  }

  .man2,
  .woman3,
  .groupPlant {
    display: none;
  }

  @media (--sd-tablet) {
    .man2,
    .woman3,
    .groupPlant {
      display: inline-block;
    }

    .group {
      margin: 0 1em;
    }
  }

  .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: var(--sd-primary);
    color: white;
    letter-spacing: -0.2px;
    text-align: center;
    line-height: 1.56;
    font-size: 18px;
    border-radius: 0 0 8px 8px;
    padding: 1em 6em;
    z-index: 1;

    @media (--sd-preBreakTablet) {
      height: auto;
      border-radius: 0;
      padding: 1em;
    }
  }

  @media (--sd-mobile) {
    box-shadow: unset;
  }
}
