@import '../../../styles/config';

.days {
  font-size: 0;
  
  span {
    width: 14.28571%;
    display: inline-block;
    text-align: center;
    user-select: none;
    margin: 8px 0;
    line-height: 34px;
    position: relative;
    font-size: 16px;
    font-weight: var(--sd-fontWeightMedium);
    outline: none;

    &.label {
      text-transform: uppercase;
      font-weight: var(--sd-fontWeightNormal);
      color: rgba(0, 0, 0, 0.3);
      font-size: 14px;
      cursor: initial;
      outline: none;
    }
  }
}

.editable span {
  cursor: pointer;
}
