/*
 * All MDC (RMWC) variables need important one them
 * because of the order that it gets ran
 * once we can create a better system we can remove them
*/

:root {
  --mdc-theme-primary: var(--sd-primary) !important;
  --mdc-theme-secondary: var(--sd-gray) !important;
  --mdc-theme-text-primary-on-background: var(--sd-primary) !important;
  --mdc-theme-text-primary-on-light: var(--sd-primary) !important;
}
