:root {
  --sd-fontName: 'Helvetica Neue', sans-serif;
  --sd-fontSizeS: 0.75em;
  --sd-fontSize: 1em;
  --sd-fontSizeM: 1.25em;
  --sd-fontSizeL: 1.5em;
  --sd-fontSizeXL: 1.75em;
  --sd-fontSizeXXL: 2em;
  --sd-fontSizeIconXL: 5em;
  --sd-fontWeightUltraLight: 100;
  --sd-fontWeightThin: 200;
  --sd-fontWeightLight: 300;
  --sd-fontWeightNormal: 400;
  --sd-fontWeightMedium: 500;
  --sd-fontWeightBold: 700;
  --sd-white: #ffffff;
  --sd-black: #000000;
  --sd-blackTxt: rgb(31, 39, 64); /* #1F2740 */
  --sd-grayDark: #b0b5c1; /* guessing this color for button hover */
  --sd-gray: rgb(187, 193, 209);
  --sd-grayLight: rgb(204, 209, 221);
  --sd-grayLighter: rgb(152, 160, 178);
  --sd-grayLighterer: rgb(238, 241, 246);
  --sd-blue: #0072ff;
  --sd-blueShade10: rgb(0, 103, 230);
  --sd-blueDark: #005ed1; /* guessing this color for button hover */
  --sd-blueGray: #eef1f6;
  --sd-blueGrayShade10: rgb(214, 217, 221);
  --sd-green: #33cb74; /* rgb(51, 203, 116) */
  --sd-red: #ed4f32;
  --sd-purple: #9d53ff;
  --sd-orange: #ef7229;
  --sd-contentMaxWidth: 800px;
  --sd-headerHeight: 61px;
  --sd-contentTopMargin: 56px;
  --sd-primary: var(--sd-blue);
  --sd-borderColor: rgb(228, 230, 237); /*  rgba(187, 193, 209, 0.4) */
  --sd-borderColorDark: rgba(152, 160, 178, 0.54);
  --sd-shadowColorSolid: rgb(93, 98, 107);
  --sd-shadowColor: rgba(93, 98, 107, 0.1);
  --sd-shadowColorContact: rgba(93, 98, 107, 0.2);
  --sd-switchBg: rgb(227, 230, 236);
  --sd-offWhite: rgb(246, 248, 250);
  --sd-star: #bbc1d1;
  --sd-star--active: #9800ff;
}
