:root {
  --sd-fontSizeS: 0.75em;
  --sd-fontSize: 1em;
  --sd-fontSizeM: 1.25em;
  --sd-fontSizeL: 1.5em;
  --sd-fontSizeXL: 1.75em;
  --sd-fontSizeXXL: 2em;
  --sd-fontSizeIconXL: 5em;
  --sd-fontWeightLight: 300;
  --sd-fontWeightNormal: 400;
  --sd-fontWeightBold: 500;
  --sd-white: #FFFFFF;
  --sd-black: #000000;
  --sd-gray: rgb(187, 193, 209);
  --sd-grayLight: color(var(--sd-gray) tint(25%));
  --sd-blue: #0072FF;
  --sd-blueGray: #EEF1F6;
  --sd-green: #33CB74;
  --sd-red: #ED4F32;
  --sd-purple: #9D53FF;
  --sd-orange: #EF7229;
  --sd-contentMaxWidth: 900px;
  --sd-headerHeight: 70px;
  --sd-primary: var(--sd-blue);
  --sd-borderColor: rgb(228, 230, 237); /*  rgba(187, 193, 209, 0.4) */
  --sd-shadowColorSolid: rgb(93, 98, 107);
  --sd-shadowColor: rgba(93, 98, 107, 0.1)
}
