@import './normalize.css';
@import './config.css';

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--sd-fontName);
}

body {
  margin: 0;
  font-family: var(--sd-fontName);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  b,
  strong {
    font-weight: var(--sd-fontWeightBold);
  }
}

h2 {
  font-size: 32px;
}
