@import './config.css';

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--sd-fontName);
}

body {
  margin: 0;
  font-family: var(--sd-fontName);
}

:global {
  .mdc-button {
    font-family: var(--sd-fontName) !important;
    letter-spacing: inherit !important;
  }

  .mdc-tab {
    text-transform: none !important;
    font-family: var(--sd-fontName) !important;
  }

  .mdc-button {
    text-transform: inherit !important;
  }
}
