@import '../../styles/config.css';


.logo {
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 18px;
  margin-left: 0.5em;
  font-weight: var(--sd-fontWeightMedium);

  @media (--sd-desktopMax) {
    font-size: 1em;
  }
}

.path {
  fill: #3FA9F5;
}

.path2 {
  fill: #0072FF;
}
