@import '../../styles/config.css';

.link {
  text-decoration: none;
  color: var(--sd-blackTxt);
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 18px;
  margin-left: 0.6em;
  font-weight: var(--sd-fontWeightMedium);
  color: var(--sd-blackTxt);

  &.largeTxt {
    font-size: 20px;
    margin-bottom: -15px;
    margin-left: 5px;
  }

  @media (--sd-desktopMax) {
    font-size: 1em;
  }
}

.path {
  fill: #3fa9f5;
}

.path2 {
  fill: #0072ff;
}

.hideTextOnMobile {
  @media (--sd-mobile) {
    display: none;
  }
}
