@import '../../../../styles/config.css';

.stepLinks {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &Item {
    padding: 0;
    margin: 2px;
  }
}

.stepButton {
  color: var(--sd-blackTxt);
  border-radius: 50%;
  padding: 0.25em 0.65em;
  text-decoration: none;

  &:hover {
    background-color: var(--sd-blueGrayShade10);
  }
}

.stepButtonActive {
  color: #ffffff;
  background-color: var(--sd-blue);

  &:hover {
    background-color: var(--sd-blueShade10);
  }
}
