@import '../../../../styles/config.css';

.stepLinks {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &Item {
    padding: 0;
    margin: 2px 7px;

    @media (--sd-mobile) {
      margin: 2px 10px;
    }
  }
}

.stepButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--sd-fontWeightMedium);
  color: var(--sd-blackTxt);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  line-height: 26px;
  display: block;
  text-decoration: none;

  &.visited {
    color: var(--sd-grayLighter);
  }

  &:hover {
    background-color: var(--sd-blueGrayShade10);
  }
}

.stepButtonActive {
  color: #ffffff;
  pointer-events: none;
  cursor: default;

  background-color: var(--sd-blue);

  &.visited {
    color: white;
  }
}
