@import '../../../../styles/config.css';

:root .pageContent {
  --sd-containerWidth: 840px;
  --sd-pagePaddingTop: 1em;
}

.searchFilters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 18px;

  > * {
    margin: 1em;
  }

  .jobType {
    width: 181px;
  }

  .jobSpecialty {
    width: 200px;
  }

  .specialtyTypes {
    width: 240px;
  }

  .distance {
    width: 181px;
  }

  @media (--sd-mobile) {
    justify-content: center;
  }
}

.searchResultsMeta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 10px;

  svg {
    color: var(--sd-blue);
    margin-right: 8px;
    margin-top: -3px;
  }
}

.cityMeta {
  font-weight: var(--sd-fontWeightMedium);
}

.searchResultsList {
  > * {
    position: relative;
    margin-bottom: 1.8em;
  }
}

.empty {
  text-align: center;
}
