@import '../../styles/config.css';

html,
body {
  background-color: var(--sd-blueGray);
  font-size: var(--sd-fontSize);
  font-family: var(--sd-fontName);
  margin: 0;
  padding: 0;
  height: 100vh;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--sd-fontWeightMedium);
}
