@import '../../../../../styles/config';

.day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;

  .dropdowns {
    opacity: 0.5;
  }

  &.active {
    color: black;
    .dropdowns {
      opacity: 1;
    }
  }

  .dropdowns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;

    @media (--sd-mobile) {
      width: auto;

      span {
        margin: auto 3px;
      }

      .dropdown {
        max-width: 99px;
      }
    }
  }

  .dayButton button {
    @media (--sd-mobile) {
      max-width: 60px;
    }
  }
}
