@import "../../styles/config.css";

.root {
  vertical-align: middle;
}

.left {
  margin-left: 0;
  margin-right: 8px;
}

.right {
  margin-left: 8px;
  margin-right: 0;
}

.primary {
  color: var(--sd-primary);
}

.secondary {
  color: var(--sd-gray);
}

.size-medium {
  font-size: 24px;
}
