@import '../../../../styles/config';

.iconRight {
  margin-left: -1em;
  span {
    margin-right: -1.7em;
    padding-left: 8px;

    svg {
      margin-bottom: 1px;
    }
  }
  display: block; /* FF fix */
  white-space: nowrap; /* FF fix */
}

.setupBtn {
  width: 176px;
}

.stepNavComplete {
  padding: 1em;
  width: 100%;

  @media (--sd-mobile) {
    padding: 1em 0;
  }
}

.stepNavCompleteInner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.stepNavCompleteRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
