@import '../../../../styles/config';

.iconRight {
  margin-left: -1em;
  span {
    margin-right: -1em;
    padding-left: 3px;
    padding-right: 5px;

    svg {
      margin-bottom: 2px;
    }
  }
  display: block; /* FF fix */
  white-space: nowrap; /* FF fix */
}

.stepNavComplete {
  padding: 1em 4em;
  width: 100%;
}

.stepNavCompleteInner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.stepNavCompleteRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
