@import '../../../styles/config.css';

.proCard {
  position: relative;
  display: flex;
  padding: 30px 0 20px 0;
  border-top: 1px solid var(--sd-borderColor);
  width: 817px;
}

.img {
  margin-right: 26px;

  img {
    border-radius: 50px;
    width: 64px;
    height: 64px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 515px;
}

.wage {
  display: flex;
  align-items: flex-end;
  font-size: 15px;
  color: var(--blackTxt);
  font-weight: var(--sd-fontWeightMedium);
}

.title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--sd-primary);
  text-decoration: none;
  margin-bottom: 0;
}

.location {
  margin-top: 0.27em;
  font-weight: var(--sd-fontWeightMedium);

  span {
    color: var(--sd-grayLighter);
    font-weight: var(--sd-fontWeightMedium);
    font-size: 14px;
  }

  > * {
    position: relative;
    margin-right: 1.6em;
  }

  > * + *:before {
    content: '';
    position: absolute;
    top: 52%;
    left: -1em;
    transform: translateY(-50%);
    display: block;
    background-color: var(--sd-primary);
    width: 4px;
    height: 4px;
    border-radius: 87px;
  }
}

.short {
  color: var(--sd-blackTxt);
  font-size: 15px;
  margin: 1em 0;
  font-weight: normal;
  max-width: 533px;
}

.experience {
  display: flex;
}

.experienceLabel,
.experienceValue {
  font-size: 14px;
  font-weight: var(--sd-fontWeightMedium);
  color: var(--sd-grayLighter);
  margin-right: 18px;
}

.experienceValue {
  color: var(--sd-blackTxt);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.position,
.type {
  font-size: 14px;
  font-weight: var(--sd-fontWeightMedium);
  color: var(--sd-grayLighter);
  margin-right: 18px;
}

.type {
  color: var(--sd-blackTxt);
}

.action {
  position: absolute;
  top: 30px;
  right: 0;
}

.disableClick button {
  pointer-events: none;
}
