@import '../../../../styles/config.css';

.photo {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2.5em 0;

  @media (--sd-mobile) {
    flex-direction: column;
    justify-content: center;

    ul {
      display: none;
    }
  }

  .dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 123px;
    margin-right: 3em;
    cursor: pointer;

    @media (--sd-mobile) {
      margin-right: 0;
    }

    h5 {
      margin: 0 0 0.4em 0;
      font-size: 14px;
      font-weight: var(--sd-fontWeightMedium);
      line-height: 1.21;
      text-align: center;
      color: var(--sd-grayLighter);
    }

    span {
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      color: var(--sd-blue);
    }
  }

  ul {
    font-size: 14px;
    line-height: 1.43;
    color: var(--sd-grayLighter);
    list-style: none;

    li {
      position: relative;
      max-width: 487px;
      text-indent: -0.7em;
      padding-left: 1em;
    }

    li + li {
      margin-top: 2em;
    }

    li:before {
      content: '';
      display: block;
      position: absolute;
      left: -1em;
      top: 6px;
      height: 8px;
      width: 8px;
      border: solid 1px var(--sd-blue);
      border-radius: 50%;
    }
  }
}

.formContainer {
  max-width: 550px;
  width: 100%;

  .spacer {
    margin-bottom: 3.75em;
  }

  hr {
    border-bottom: 1px solid var(--sd-grayLight);
    border-top: none;
  }
}

.inputRow {
  display: flex;
  margin-bottom: 22px;

  textarea {
    min-height: 200px;
  }

  button {
    margin-top: 1px;
    min-height: 48px;
  }

  > * {
    flex: 1;

    @media (--sd-mobile) {
      margin-bottom: 1em;
    }
  }

  > * + * {
    margin-left: 1.25em;

    @media (--sd-mobile) {
      margin-left: 0;
    }
  }

  .verifyPhone {
    max-width: 154px;
    margin-left: 26px;
    border-radius: 50px;

    @media (--sd-mobile) {
      max-width: none;
      width: 100%;
      margin-left: 0;
    }
  }

  &.withButton {
    button {
      max-width: 18em;
    }
  }

  @media (--sd-mobile) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.submit {
  width: 100%;
  height: 48px;
  margin-top: 1em;
}

.loading {
  position: relative;
  height: 400px;
}

.photoLoading {
  position: absolute;
  top: 50%;
  left: 3.9em;
}
