@import "../../../../styles/config.css";

.threadsContainer {
  width: calc(100% + 3em);
  margin: -1em -1.5em -1em -1.5em;
  transition: transform 300ms ease-out;

  &.active {
    transform: translateX(-100%);
  }
}

.messages {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 100%;
  overflow-y: scroll;
  max-height: 700px;

  .back {
    width: 100%;
    text-align: left;
    padding: 0.5em 1em;
    color: var(--sd-gray);
    border: none;
    border-bottom: solid 1px var(--sd-borderColor);
    outline: none;
    cursor: pointer;

    &:hover {
      color: var(--sd-primary);
    }
  }

  .respond {
    position: relative;
    display: flex;
    align-items: center;

    span {
      position: absolute;
      left: 1em;
      top: 1em;
      color: var(--sd-gray);
    }

    textarea {
      flex: 1;
      padding: 2em;
      font-size: 14px;
      height: auto;
      border: none;
      outline: none;
      padding-right: 6em;
      background: white;
      resize: none;
    }

    button {
      position: absolute;
      top: 1em;
      right: 1em;

      i {
        font-size: 22px;
      }
    }
  }
}

.threads {
  position: relative;
  width: 100%;
  max-height: 700px;
  overflow-y: scroll;

  .quickReply {
    align-self: flex-end;
  }
}

.avatar {
  align-self: center;
  width: 48px;
  margin: 1em;

  img {
    border-radius: 50%;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 50px;
  margin-right: 0.5em;

  .date {
    color: var(--sd-gray);
    font-size: 12px;
  }

  .threadCount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    background: var(--sd-borderColor);
    border-radius: 4px;
    width: 23px;
    height: 20px;
  }

  .reply {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    z-index: 10;

    svg {
      color: var(--sd-borderColor);

      &:hover {
        color: var(--sd-primary);
      }
    }
  }
}

.middle {
  flex: 1;
  padding-top: 4px;

  .title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--sd-blackTxt);
    margin-bottom: 0.5em;

    h6 {
      margin: 0;
      font-size: 14px;
    }

    span {
      display: flex;
      align-items: center;
      padding-left: 0.5em;
      color: var(--sd-gray);

      &:before {
        content: "";
        display: block;
        margin-right: 0.5em;
        background: var(--sd-primary);
        width: 4px;
        height: 4px;
        border-radius: 50%;
      }
    }
  }

  .short p {
    margin: 0;
    font-size: 14px;
    color: var(--sd-grayLighter);
  }
}


.thread {
  display: flex;
  height: 106px;
  border: none;
  border-bottom: solid 1px var(--sd-borderColor);
  padding: 12.5px 7px;
  cursor: pointer;
  outline: none;

  &.unread {
    &:before {
      content: "";
      background: var(--sd-primary);
      height: 5em;
      width: 4px;
      border-radius: 2px;
    }

    .date {
      color: var(--sd-primary);
      font-weight: 600;
    }
  }

  &:hover {
    background: var(--sd-blueGray);
  }
}


.message {
  display: flex;
  border-bottom: solid 1px var(--sd-borderColor);
  padding: 12.5px 7px;
}
