.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-weight: 200;
  }
}

.progress {
  width: 180px;

  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 0.5em 0;
  }

  span {
    font-size: 12px;
    margin-left: 0.5em;
  }
}

.loadingBar {
  height: 8px;
  border-radius: 50px;

  :global(.mdc-linear-progress__bar-inner) {
    border-radius: 50px;
  }
}
