@import '../../styles/config.css';

.tabBar {
  font-size: 15px;

  &.underline {
    border-bottom: 2px inset var(--sd-borderColor);

    span {
      margin-bottom: -2px;
    }
  }

  &.left {
    width: 100%;
    display: flex;

    > div {
      line-height: 2.95rem;
      min-width: auto;
    }
  }

  &.exact {

    > div {
      min-width: auto;
      padding-left: 4px;
      padding-right: 4px;
      margin-right: 1.2em;
      margin-left: 1.2em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
