@import '../../styles/config.css';

.root {
  position: relative;
  width: 100%;
  font-size: 15px;

  border-bottom: 2px inset var(--sd-borderColor);

  span {
    margin-bottom: -2px;
  }
}

.tab {
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.tab > div {
  width: 100%;
  text-align: center;
  margin: auto;
  font-weight: 500;
  transition: color 0.14s;
  outline: none;
}

.underline {
  border-bottom: 2px solid var(--sd-primary);
  position: absolute;
  margin-top: -2px;
  transition: width 0.3s, left 0.3s;
}

.tab > .active {
  color: var(--sd-primary);
}
