@import '../../styles/config.css';

.header {
  position: absolute;
  top: 2em;
  right: 2em;
}

.signinContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.signin {
  padding: 32px;
  margin: 2em;
  max-width: 480px;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px 0 rgba(93, 98, 107, 0.1);
  text-align: center;

  h2 {
    font-weight: var(--sd-fontWeightLight);
  }
}

.inputRow {
  display: flex;
  justify-content: space-between;
  margin: 0.55em 0;
  width: 100%;

  > * {
    width: 50%;
  }
}
