@import '../../../styles/config.css';

.svg {
  :global .cls-1 {
    fill: currentColor;
  }
  svg {
    vertical-align: middle;
  }

  &.green svg {
    color: var(--sd-green);
  }

  &.white svg {
    color: white;
  }
}
