@import '../../styles/config.css';

.footer {
  position: absolute;
  bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  border-top: 1px solid var(--sd-footerBorder);

  nav a {
    color: var(--sd-grayLighter);
    padding: 12px;
    font-size: 14px;
    text-decoration: none;

    &:hover {
      color: var(--sd-primary);
    }
  }

  @media (--sd-mobile) {
    display: none;
  }
}
