@import '../../styles/config.css';

:root {
  --sd-right-offset: 50px;
  --sd-left-offset: 50px;
  --sd-top-offset: -10px;
  --sd-bottom-offset: 5px;
}

.starTitle {
  position: relative;
  display: inline-block;
  margin: 0.8em auto 1em auto;
  padding: 0.25em 1em;
  font-size: 40px;
  color: var(--sd-blackTxt);
  font-weight: var(--sd-fontWeightNormal);
  letter-spacing: -0.4px;

  .star,
  .circle {
    position: absolute;
  }

  .stars,
  .circles {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .stars .star {
    position: absolute;

    &:nth-child(1) {
      top: calc(-30px + var(--sd-top-offset));
      left: calc(-13px + var(--sd-left-offset));
    }

    &:nth-child(2) {
      bottom: calc(-10px + var(--sd-bottom-offset));
      left: calc(-65px + var(--sd-left-offset));
    }

    &:nth-child(3) {
      top: calc(-39px + var(--sd-top-offset));
      right: calc(-50px + var(--sd-right-offset));
    }

    &:nth-child(4) {
      bottom: calc(-20px + var(--sd-bottom-offset));
      right: calc(-36px + var(--sd-right-offset));
    }
  }

  .circles .circle {
    position: absolute;

    svg {
      width: 8px;
    }

    &:nth-child(1) {
      top: calc(-22px + var(--sd-top-offset));
      left: calc(-31px + var(--sd-left-offset));
    }

    &:nth-child(2) {
      bottom: calc(-15px + var(--sd-bottom-offset));
      left: calc(-40px + var(--sd-left-offset));

      svg {
        width: 10px;
      }
    }

    &:nth-child(3) {
      bottom: calc(-35px + var(--sd-bottom-offset));
      left: calc(-50px + var(--sd-left-offset));
    }

    &:nth-child(4) {
      top: calc(-32px + var(--sd-top-offset));
      right: calc(-23px + var(--sd-right-offset));
    }

    &:nth-child(5) {
      top: calc(-16px + var(--sd-top-offset));
      right: calc(-42px + var(--sd-right-offset));

      svg {
        width: 10px;
      }
    }

    &:nth-child(6) {
      bottom: calc(-33px + var(--sd-bottom-offset));
      right: calc(-48px + var(--sd-right-offset));
    }
  }
}
