@import '../../styles/config.css';

.starTitle {
  position: relative;
  display: inline-block;
  margin: 0 auto 1em auto;
  padding: 0.25em 1em;
  font-size: 40px;
  color: var(--sd-blackTxt);
  font-weight: var(--sd-fontWeightNormal);

  .star,
  .circle {
    position: absolute;
  }

  .stars,
  .circles {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .stars .star {
    position: absolute;

    &:nth-child(1) {
      top: -30px;
      left: -5px;
    }

    &:nth-child(2) {
      bottom: -10px;
      left: -45px;
    }

    &:nth-child(3) {
      top: -40px;
      right: -45px;
    }

    &:nth-child(4) {
      bottom: -20px;
      right: -10px;
    }
  }

  .circles .circle {
    position: absolute;

    &:nth-child(1) {
      top: -20px;
      left: -25px;
    }

    &:nth-child(2) {
      bottom: -15px;
      left: -25px;
    }

    &:nth-child(3) {
      bottom: -30px;
      left: -40px;
    }

    &:nth-child(4) {
      top: -30px;
      right: -20px;
    }

    &:nth-child(5) {
      top: -15px;
      right: -40px;
    }

    &:nth-child(6) {
      bottom: -35px;
      right: -30px;
    }
  }
}
