@import '../../../styles/config.css';

.navContainer {
  @media (--sd-preBreakTablet) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 61px;
    box-shadow: 0 -1px 3px 0 var(--sd-shadowColor);
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: -0.2em 0 0 0;
  padding: 0;

   @media (--sd-preBreakTablet) {
     margin-top: 0;
   }

  .navItem {
    margin: 0 3em 0 3em;
    padding: 0;

     @media (--sd-mobile) {
       margin: 0 1em;
     }

    .navItemLink {
      position: relative;
      font-size: 14px;
      font-weight: var(--sd-fontWeightMedium);
      line-height: 1.21;
      color: var(--sd-grayLighter);
      text-decoration: none;

      &.active {
        font-weight: var(--sd-fontWeightMedium);
        color: var(--sd-blackTxt);
          &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -18px;
            left: 50%;
            transform: translateX(-50%);
            width: 20px;
            height: 4px;
            border-radius: 2px;
            background-color: var(--sd-primary);

            @media (--sd-preBreakTablet) {
              bottom: auto;
              top: -18px;
            }
          }
      }
    }
  }

  .navItemLink {
    span {
      display: flex;
      align-items: center;
    }
  }
}

