@import '../../../../styles/config.css';

:root .pageContent {
  --sd-containerWidth: 840px;
  --sd-pagePaddingTop: 1em;
  --sd-pagePadding: 2.5em;
}

.pageContent {
  box-shadow: 0 3px 6px 0 var(--sd-shadowColor);
  background: white;
  border-radius: 4px;
  
  section {
    padding: var(--sd-pagePadding);
    & + section {
      border-top: 1px solid var(--sd-borderColor);
    }
  }

}


.title {
  display: flex;
  align-items: center;

  img {
    margin-right: 2em;
  }

  h2 {
    color: var(--sd-blackTxt);
    font-weight: var(--sd-fontWeightBold);
    font-size: 24px;
  }

  h4 {
    color: var(--sd-grayLighter);
    font-weight: var(--sd-fontWeightBold);
    margin-top: -1em;
    font-size: 14px;
  }
}
