@import '../../../../../styles/config.css';

.title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--sd-primary);
  text-decoration: none;
  margin-bottom: 1em;
}

.location {
  margin-top: 0.75em;
  font-weight: var(--sd-fontWeightMedium);

  span {
    color: var(--sd-grayLighter);
    font-weight: var(--sd-fontWeightMedium);

    &:first-child {
      color: var(--sd-blackTxt);
    }
  }

  > * {
    position: relative;
    margin-right: 1em;
  }

  > * + *:before {
    content: '';
    position: absolute;
    top: 53%;
    left: -0.7em;
    transform: translateY(-50%);
    display: block;
    background-color: var(--sd-primary);
    width: 4px;
    height: 4px;
    border-radius: 87px;
  }
}

.details {
  dl {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
  }
  dt {
    font-size: 14px;
    font-weight: var(--sd-fontWeightMedium);
    line-height: 1.21;
    color: var(--sd-grayLighter);
    float: left;
    margin: 0 1em 1em 0;
  }
  dd {
    font-size: 14px;
    margin-right: 2em;
    color: var(--sd-blackTxt);
    font-weight: var(--sd-fontWeightMedium);
  }
}

.short {
  color: var(--sd-blackTxt);
  font-size: 15px;
  margin-bottom: 4em;
  font-weight: normal;
}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px var(--sd-borderColor);
  padding: 0 2.8em;
  height: 51px;
  font-weight: var(--sd-fontWeightMedium);

  > * {
    min-width: 122px;
  }
}

.readMore {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: var(--sd-gray);
  text-decoration: none;
  text-align: center;
}

.star {
  position: absolute;
  top: 2em;
  right: 2em;

  button {
    outline: none;
    background: none;
    border: unset;
    cursor: pointer;
    transition: transform 200ms ease-out;

    &:hover {
      transform: scale(0.9);
    }
  }
  &.active {
    animation: scaleup 300ms ease-out;
  }
}

@keyframes scaleup {
  from {
    transform: scale(1.1);
    color: var(--sd-star);
  }
  to {
    transform: scale(1);
    color: var(--sd-star--active);
  }
}

.new {
  position: relative;

  &:after {
    content: 'New';
    position: absolute;
    right: -7.5em;
    top: 58%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 58px;
    height: 22px;
    padding: 5px 1.5em;
    border-radius: 13px;
    background-color: var(--sd-green);
    margin: 0 0 0 2em;
    font-size: 12px;
    line-height: 1.5;
    color: white;
  }
}
