@import '../../styles/config.css';

.searchFilters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 4em;

  > * {
    width: 25%;
    min-width: 200px;
    margin: 1em 0;
  }
}

.searchResultsMeta {
  display: flex;
  justify-content: space-between;
}

.searchResultsList {
  > * {
    margin-bottom: 1em;
  }
}

.empty {
  text-align: center;
}
