@import '../../styles/config.css';

.searchFilters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 4em;

  > * {
    width: 25%;
    min-width: 200px;
    margin: 1em 0;
  }
}

.searchResultsMeta {
  display: flex;
  justify-content: space-between;
}

.searchResultsList {
  > * {
    margin-bottom: 1em;
  }
}

.empty {
  text-align: center;
}

.title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--sd-primary);
  text-decoration: none;
}

.location {
  > * {
    position: relative;
    margin-right: 1em;
  }
  > * + *:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -0.5em;
    transform: translateY(-50%);
    display: block;
    background-color: var(--sd-primary);
    width: 4px;
    height: 4px;
    border-radius: 50px;
  }
}
