@import '../../styles/config.css';

.searchFilters {
  display: flex;
  justify-content: space-around;

  > * {
    width: 30%;
  }
}

.searchResultsMeta {
  display: flex;
  justify-content: space-between;
}
