@import '../../../../styles/config';

.actionNav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .step {
    flex: 1 1 50%;
  }

  .iconRight,
  .iconLeft {
    display: flex;
    svg {
      width: 20px;
    }
  }

  .iconLeft {
    margin-right: -0.9em;
    span {
      margin-left: -0.7em;
      margin-right: 0.5em;
    }
  }

  .iconRight {
    margin-left: -1em;
    span {
      margin-right: -1em;
    }
  }
}

.nextStep {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.previousStep {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
