@import '../../../../styles/config';


.actionNav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .step {
    flex: 1 1 50%;
  }

  .iconLeft {
    margin-left: -1em;
  }

  .iconRight {
    margin-right: -1em;
  }
}

.nextStep {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.previousStep {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
