@import '../../../../styles/config.css';

.sidebar {
  text-align: center;
}

.sidebarNav {
  padding-top: 2.5em;
}

.sidebarContent {
  padding: 2.5em 2em 2em;
}

.itemElement {
  margin: 0;
}

.item {
  margin: 8px 0;
  text-align: center;

  h2 {
    color: var(--sd-blackTxt);
    margin-bottom: 1em;
  }

  p {
    line-height: 1.25;
    max-width: 267px;
    color: var(--sd-blackTxt);
    padding: 0;
    margin: auto;
  }

  svg {
    margin-bottom: 1em;
  }

  strong {
    font-weight: var(--sd-fontWeightMedium);
  }
}

.stepOne {
  .item {
    h2 {
      margin-bottom: 0;
    }

    p {
      max-width: 200px;
    }
  }
}

.stepTwo {
  .item:first-child {
    margin-top: -1em;
    margin-right: -0.3em;
  }
}

.title {
  font-size: var(--sd-fontSizeL);
  font-weight: var(--sd-fontWeightLight);
}

.subTitle {
  font-size: var(--sd-fontSizeM);
}

.subTitleLarge {
  font-size: var(--sd-fontSizeL);
}

.description {
  font-size: var(--sd-fontSize);
  font-weight: var(--sd-fontWeightLight);
  padding: 0 2em;
}

.hr {
  width: 30px;
  height: 2px;
  background-color: var(--sd-primary);
  margin: 20px auto;
}

.svg {
  width: 150px;
  margin: 2em 0 0;
  display: inline-block;
}

.packages {
  display: flex;
  flex-direction: column;
  align-items: center;
  > * + * {
    margin-bottom: 31px;
  }

  h2 {
    color: var(--sd-blackTxt);
    font-weight: var(--sd-fontWeightMedium);
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.2px;
    text-align: center;
    margin: -10px 0 41px 0;
  }
}

.dayHirePackage,
.threeMonthPackage,
.fullPackage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  width: 190px;
  border-radius: 8px;
  text-align: center;
  padding: 15px 0;

  h4 {
    font-size: 15px;
    font-weight: var(--sd-fontWeightMedium);
    letter-spacing: -0.2px;
    color: var(--sd-blackTxt);
    margin: 0 0 2px 0;
  }

  p {
    font-size: 13px;
    font-weight: var(--sd-fontWeightMedium);
    line-height: 1.23;
    letter-spacing: -0.1px;
    color: var(--sd-blackTxt);
    margin: 0;
  }
}

.dayHirePackage {
  background: var(--sd-grayLighterer);
}

.threeMonthPackage {
  background: var(--sd-gray);
}

.fullPackage {
  background: var(--sd-primary);

  p,
  h4 {
    color: white;
  }
}
