@import '../../../../styles/config.css';

.sidebar {
  text-align: center;
}

.sidebarNav {
  padding-top: 2.5em;
}

.sidebarContent {
  padding: 2.5em 2em 2em;
}

.itemElement {
  margin: 0;
}

.item {
  margin: 8px 0;
  text-align: center;

  h2 {
    color: var(--sd-blackTxt);
    margin-bottom: 1em;
  }

  p {
    line-height: 1.25;
    max-width: 267px;
    color: var(--sd-blackTxt);
    padding: 0;
    margin: auto;
  }

  svg {
    margin-bottom: 1em;
  }

  strong {
    font-weight: var(--sd-fontWeightMedium);
  }
}

.stepOne {
  .item {
    h2 {
      margin-bottom: 0;
    }

    p {
      max-width: 164px;
    }
  }
}

.stepTwo {
  .item:first-child {
    margin-top: -1em;
    margin-right: -0.3em;
  }
}

.title {
  font-size: var(--sd-fontSizeL);
  font-weight: var(--sd-fontWeightLight);
}

.subTitle {
  font-size: var(--sd-fontSizeM);
}

.subTitleLarge {
  font-size: var(--sd-fontSizeL);
}

.description {
  font-size: var(--sd-fontSize);
  font-weight: var(--sd-fontWeightLight);
  padding: 0 2em;
}

.hr {
  width: 30px;
  height: 2px;
  background-color: var(--sd-primary);
  margin: 20px auto;
}

.svg {
  width: 150px;
  margin: 2em 0 0;
  display: inline-block;
}
